.country-card{
  display: flex;
  border: solid 1px black;
  background-color: bisque;
}

.country-info{
  width: 250px;
  padding: 15px;
  background-color: bisque;
}

.country-details{
  background-color: bisque;
}

.country-image{
  width: 170px;
}

header{
  display: flex;
  align-items: center;
  width: 100%;
}

.flag2{
  width: 150px;
}